{% extends 'storybook/base_layout.html' %}

{% block content %}
{% if user.is_authenticated %}

<h2 class="mt-3">Dashboard</h2>

<table class="table">
  <thead>
    <tr>
      <th>Created At</th>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for story in object_list %}
    <tr>
      <td>{{ story.created_at }}</td>
      <td>{{ story.title }}</td>
      <td><a href="{% url 'story-edit' story.id %}"><i class="fas fa-pencil-alt"></i> edit</a></td>
      <td>
        <a href="{% url 'story-delete' story.id %}" class="text-danger">
          <i class="fas fa-trash-alt"></i> delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">first <i class="fas fa-step-backward"></i></a>
    <a href="?page={{ page_obj.previous_page_number }}">previous <i class="fas fa-caret-left"></i></a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-caret-right"></i> next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-step-forward"></i> last</a>
    {% endif %}
  </span>
</div>

{% else %}

<h2 class="mt-3">Home</h2>
<p>
  Welcome to Storybook.<br />
  If you don't have any account please create and have some fun!
</p>

{% endif %}
{% endblock %}